/*tutorial*/
header{
    text-align:center;
    color:#ffffff;
    background:#8FCEB9;
}

header .container {
    padding:100px 0 50px;
}

header img{
    display: block;
    margin:0 auto 20px;

}

header .intro-text .name{
    display:block;
    font-family:Arial;
    font-size:3em;
    font-family: 'Hanna';
    font-weight:700;
}

header .intro-text .welcome{
    font-family:Helvetica;
    font-size:1.5em;
    font-family: 'Jeju Gothic';
    font-weight:300;
}

section{
    padding: 100px 0;
}

section h2{
    margin:0;
    font-family:'Hanna';
    font-size:3em;
    font-weight:bold;
    color:#454549;
}

section p{
    font-family:'Jeju Gothic';
    color:#2C2C2E;
    font-size:14px;
}

#matchup_intro{
    background: #ffffff;
 }

#tournament_intro{
    background: #f6f6f6;
 }

 #comment_intro{
    background: #ffffff;
 }



/*navbar*/
p .hello_user{
    font-family: 'Jeju Gothic';
    font-size: 10px;
    color:#7F7F7F;
}

/*mathup_page*/
#matchup { 
    font-family: 'Hanna'; 
    font-size:30px;
    color:#fff;
    background-color: #FF7A7B;
}
#show_round { 
    font-family: 'Hanna'; 
    font-size:20px;
    color:#595959;
    padding-top: 40px;
    margin-bottom: -10px;
}
#vs { 
    font-family: 'Hanna'; 
    font-size:50px;
    font-style: bold;
    color:#7F7F7F;
}
.list-unstyled{
    font-family: 'Jeju Gothic';
    font-size: 12px;
    color:#7F7F7F;
}

#matchup_img_1, #matchup_img_2 {
    border-radius:10%;
    border: 8px solid #11818D;
}


#comment_part{
    background: #FFF57F;
    width:100%;
    border-radius:  0 0 20px 20px;
    margin-bottom: 20px;
}

.inner_container{
    width:96%;
    padding-left: 15px;
}

#comment { 
    font-family: 'Hanna'; 
    font-size:20px;
    color:#595959;
}

#cand1 {
    font-family: 'Hanna'; 
    font-size:25px;
    color:#404040;
    margin-bottom: -20px;
    margin-top: 10px;
}

#cand2 {
    font-family: 'Hanna'; 
    font-size:25px;
    color:#404040;
    margin-bottom: -20px;
    margin-top: 10px;
}

#btn_comment{
    float :right;
    margin: 5px 0px 10px 0;
}

/*tournament_page*/
.group_button{
    padding: 20px 30px 20px;
}
.btn-liketalk_group {
  color: #333;
  background-color:  #7F7F7F;
  border-color:  #7F7F7F;
  font-family: 'Hanna';
  color:#404040;
}

.btn-liketalk_group:hover,
.btn-liketalk_group:focus,
.btn-liketalk_group.active{
  color: #8FCEB9;
  background-color: #C6C4B6;
  border-color: #C6C4B6;
}

.my_gracket{
    text-align: center;
}

/*candidate_list page*/
.titulo{
    font-size: 25px;
    color: #fff;
}
.name_school{
    font-size: 12px;
    color: #F5F5F5;
}

.baby_lion_list{
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.list_end_panel{
    width:100%;
    height:20px;
    border-radius:  0 0 20px 20px;
    margin-bottom: 20px;
    background: white;
}

/*candidate_page*/
#lion_profile{
    font-family: 'Jeju Gothic'; 
    font-size:35px;
    color:#7F7F7F;
}

#profile_info{
    font-family: 'Jeju Gothic'; 
    font-size:24px;
    color:#7F7F7F;
}

.profile_comment_panel{
    background: #FFF57F;
    width:100%;
    border-radius:  0 0 20px 20px;
    margin-bottom: 20px;
}

#profile_comment{
    font-family: 'Jeju Gothic'; 
    font-size:20px;
    color:#595959;
    padding-left: 20px;
}

.profile_inner{
    width:97%;
    padding-left: 35px;
    border-radius:  0 0 20px 20px;
}

/*end page*/
#your_winner{
    font-family: 'Hanna'; 
    font-size:30px;
    color:#7F7F7F;
}
#winner_img{
    border-radius:10%;
    border: 8px solid #11818D;
}
#winner_name { 
    font-family: 'Hanna'; 
    font-size: 40px;
    color:#159DAB;
}
#winner_school{
    font-family: 'Jeju Gothic';
    font-size:20px;
    color:#7F7F7F;
    text-align: center;
}

.winner_panel{
    border-radius:  20px 20px 20px 20px;
    background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

#end_page_end{
    background: #FFF57F;
    width: 100%;
    height: 80px;
    border-radius:  0 0 20px 20px;
}

/*login, signup*/
.login_inner, .signup_inner {
    margin: 0;
    position: absolute;
    float: none;
    margin: 0 auto;
    margin-top: 120px;

    background-color: #ffffff;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.login_title, .signup_title {
    text-align: center; 
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Hanna';
}

.login_btn_outer, .signup_btn_outer {
    margin-bottom: 15px; 
}

.login_btn_outer > .btn, .signup_btn_outer > .btn {
    color: #fff;
    background-color: #FF7A7B;
    font-family: "Hanna";
    text-align: center;
    font-size: 20px;
}

.login_btn_outer > .btn:hover, .signup_btn_outer >.btn:hover {
    background-color: #E98B8B;
    color: #E7E7E7;
}

#login_btn, #signup_btn{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: :10px;
}

.go_signup{
    text-align: right;
}
#btn_go_signup {
    font-family: 'Hanna';
    font-size: 20px;
    color:#DCDCDC;
}
/*#btn_go_signup > .btn:hover, #btn_go_signup >.btn:hover {
    color: #E7E7E7;
}*/