{% extends "layout.html" %}

{% block contents %}
<div class="panel panel-danger">
<div class="panel-body">

    <div class="llCommentList">

        <!-- Standard button -->
        <div class="group_button">
            <a href = "{{url_for('comments_group', group = 1)}}"><button type="button" class="btn btn-liketalk_group">Group A</button></a>
            <a href = "{{url_for('comments_group', group = 2)}}"><button type="button" class="btn btn-liketalk_group">Group B</button></a>
            <a href = "{{url_for('comments_group', group = 3)}}"><button type="button" class="btn btn-liketalk_group">Group C</button></a>
            <a href = "{{url_for('comments_group', group = 4)}}"><button type="button" class="btn btn-liketalk_group">Group D</button></a>
            <a href = "{{url_for('comments_group', group = 5)}}"><button type="button" class="btn btn-liketalk_group">Group E</button></a>
        </div>
        <br><br><br>

        <div class="row">
	        <div class="llCommentCreate">
	                <form action="{{ url_for('comment_create', game_round = player_game.game_round, gamegroup = player_game.group, season = player_game.season_num, comment_A = player_game.candidate_A_namename, comment_B = player_game.candidate_B_namename ) }}" role="form" method="post">
	                        <textarea class="text required form-control" name="content" cols="40" placeholder=" 댓글을 입력하세요. " required="required" rows="3" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 73px;" ></textarea>
            				<button id="btn_comment"class="btn btn-liketalk_group" name="comment_btn" type="submit" value="POST">submit</button>
                    </form>
	        </div>
	        <br>
    	</div>

        {% if comments %}
            {% for comment in comments %}
                <div class="well well-sm">
                    <span class="badge">그룹{{ comment.comment_group }}</span>
                    <span class="badge">{{ comment.comment_season }}강</span>
                    <span class="badge">{{comment.comment_A}} vs {{comment.comment_B}}   </span>
                    <span class="badge">익명{{ comment.user_index }}</span> {{ comment.content }}
                    <span class="float-right">
                        <small>
                           <em style="float: right">{{ comment.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</em>
                        </small>
                    </span>
                </div>
            {% endfor %}
        {% endif %}

        <br><br><br>

        {% if indiv_comments %}
            {% for comment in indiv_comments %}
                <div class="well well-sm">
                    <span class="badge">그룹{{ comment.comment_group }}</span>
                    <span class="badge">{{comment.comment_name}}  </span>
                    <span class="badge">익명{{ comment.user_index }}</span> {{ comment.content }}
                    <span class="float-right">
                        <small>
                           <em style="float: right">{{ comment.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</em>
                        </small>
                    </span>
                </div>
            {% endfor %}
        {% endif %}

    </div>
</div>

</div>
<div class="list_end_panel"></div>

{% endblock %}                                                                                                         