<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>멋쟁이 사자처럼 인기투표</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/hanna.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/jejugothic.css">


    {% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.gracket.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/yonghan.js') }}"></script>
    <!-- <script type="text/javascript" src="static/js/main.js"></script> -->
    <!-- <script type="text/javascript" src="static/js/jquery.gracket.js"></script> -->

    {% endblock %}


    {% block favicon %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    {% endblock %}
</head>
<body>
{% block layout %}{% endblock %}

</body>
</html>