{% extends "layout.html" %}

{% block contents %}

<div class="panel panel-danger">
  <div class=panel-heading>
    <div class="group_button">
        <a href = "{{ url_for('candidate_list', group = 1)  }}" ><button class="group-btn btn btn-liketalk_group"> Group A</button></a>
        <a href = "{{ url_for('candidate_list', group = 2)  }}" ><button class="group-btn btn btn-liketalk_group"> Group B</button></a>
        <a href = "{{ url_for('candidate_list', group = 3)  }}" ><button class="group-btn btn btn-liketalk_group"> Group C</button></a>
        <a href = "{{ url_for('candidate_list', group = 4)  }}" ><button class="group-btn btn btn-liketalk_group"> Group D</button></a>
        <a href = "{{ url_for('candidate_list', group = 5)  }}" ><button class="group-btn btn btn-liketalk_group"> Group E</button></a>
    </div>
  </div>
<table class="baby_lion_list">
{% for people in total_people %}
    {% if (loop.index -1)  % 5 == 0 %}
        <tr>
    {% endif %}
        <td>
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                    <img id="list" src="/static{{ people.photo     }}"/>
                    <div class="sub"><p class='name'>{{people.name}}</p></div>
                    </div>
                <div class="back text-center">
                    <p class="titulo">"{{people.name}}"</p>
                    <p class="name_school">{{people.school}}</p>
                    <a href= "{{ url_for('candidate', name = people.name ) }}"  id="social">더보기</a>
                </div>
                </div>
            </div>
        </td>


    {% if (loop.index % 5) == 0 %}
        </tr>
    {% endif %}
{% endfor %}
</table>
</div>
<div class="list_end_panel"></div>
{% endblock %}
