{% extends "layout.html" %}

{% block contents %}

<div class="panel panel-danger">
  <div class=panel-heading>
    <a href = "{{ url_for('candidate_list_A')  }}" ><button> Group A</button></a>
    <a href = "{{ url_for('candidate_list_B')  }}" ><button> Group B</button></a>
    <a href = "{{ url_for('candidate_list_C')  }}" ><button> Group C</button></a>
    <a href = "{{ url_for('candidate_list_D')  }}" ><button> Group D</button></a>
    <a href = "{{ url_for('candidate_list_E')  }}" ><button> Group E</button></a>
  </div>
<table class="baby_lion_list">
{% for people in total_people %}
    {% if (loop.index -1)  % 6 == 0 %}
        <tr>
    {% endif %}
        <td>
            <div class="flip-container">

                <div class="flipper">
                    <div class="front">
                    <img id="list" src="/static{{ people.photo     }}"/>
                    <p class='name'>{{people.name}}</p>
                    <div class="sub"><p>{{people.school}}</p></div>
                    </div>
                <div class="back">
                    <p class="titulo">{{people.name}}</p>
                    <p>{{people.school}}</p>
                    <a href= "{{ url_for('candidate', myseason = people.season, mygame_round = people.game_round, mygroup = people.group, idx = loop.index, name = people.name ) }}"  id="social">더보기</a>
                </div>
                </div>
            </div>
        </td>


    {% if (loop.index % 6) == 0 %}
        </tr>
    {% endif %}




{% endfor %}
</table>
</div>


{% endblock %}
