
{% extends "layout.html" %}

{% block contents %}
<button> Group A</button>
<table>
  <tr>
    <td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>
       <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>

<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>
     
      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>

      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>

      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>
      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
</tr>
</table>
<br/><br/><br/>
<table>
  <tr>
    <td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>카이스트</p>

      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>카이스트</p>

      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>카이스트</p>

      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>카이스트</p>

      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>카이스트</p>

      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
</tr>

</table>
</br></br></br>
<table>
  <tr>
    <td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>
       <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>

<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>
     
      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>

      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>

      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>
      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
</tr>
</table>
<br/><br/><br/>

<table>
  <tr>
    <td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>
       <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>

<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>
     
      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>

      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>

      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>
      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
</tr>
</table>
<br/><br/><br/>

<table>
  <tr>
    <td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>
       <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>

<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>
     
      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>

      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>
<td>
<div class="flip-container">
  <div class="flipper">
    <div class="front">
      <img src="http://likelion.net/members/kaist/t1.jpg"/>
      <p class='name'>이태우</p>
      <div class="sub"><p>카이스트</p></div>
    </div>
    <div class="back">
      <p class="titulo">이태우</p>
      <p>선생님</p>
      <p>카이스트</p>

      <p>진행중인 라운드 n</p>
      <a href="https://www.facebook.com/tprpc" id="social">facebook</a>
     
    </div>
  </div>
</div>
</td>

</tr>
</table>
<br/><br/><br/>


.
{% endblock %}