{% extends "layout.html" %}

{% block contents %}


<div class="container">
	<div class="panel panel-danger">
		<div class=panel-heading>
			<h1 class="text-center"> 아기사자 프로필 </h1>
		</div>
	</div>
<!--profile contents-->
	<div class="panel panel-body">
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4 ">
				<img src="/static{{cand_data.photo}}" class="img-responsive img-rounded" alt="Resposive Image">
				<br>
				<br>
				<div ="container-fluid">
<!--put primary candidate_id, name, shool-->
					<table class="table">
						<tr>
							<td> 이름</td>
							<td> {{cand_data.name}} </td>
						</tr>
						<tr>
							<td> 학교</td>
							<td> {{cand_data.school}} </td>
						</tr>

					</table>
				</div>
				</br></br>
				</div>
					<div class="col-xs-4"></div>
				</div>
	</div>
</div>
<div class="panel panel-danger">
	<div class=panel-heading>
		<h1 class="text-center"> 응원글</h1>
	</div>
	<br><br><br>

    <div class="llCommentCreate">
                <form action="{{ url_for('candidate_comment',group = cand_data.group, name = cand_data.name) }}" role="form" method="post">
                        <textarea class="text required form-control" name="content" cols="40" placeholder=" 댓 글 댓 글 댓 글 댓 글 댓 글 " required="required" rows="3" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 73px;"></textarea>
            <button class="btn" name="comment_btn" type="submit" value="POST">댓글</button>
                    </form>
        </div>


	<div class="llCommentList">
        {% if comments %}
            {% for comment in comments %}
                <div class="well well-sm">
                    <span class="badge">그룹{{ comment.comment_group }}</span>
                    <span class="badge">{{ comment.comment_season }}강</span>
                    <span class="badge">{{comment.comment_A}} vs {{comment.comment_B}}   </span>
                    <span class="badge">익명{{ comment.user_index }}</span> {{ comment.content }}
                    <span class="float-right">
                        <small>
                           <em style="float: right">{{ comment.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</em>
                        </small>
                    </span>
                </div>
            {% endfor %}
        {% endif %}

        {% if comments_indiv %}
            {% for comment in comments_indiv %}
                <div class="well well-sm">
                    <span class="badge">친구응원!</span>
                    <span class="badge">{{comments.comment_name}} </span>
                    <span class="badge">익명{{ comment.user_index }}</span> {{ comment.content }}
                    <span class="float-right">
                        <small>
                           <em style="float: right">{{ comment.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</em>
                        </small>
                    </span>
                </div>
            {% endfor %}
        {% endif %}

    </div>
</div>
{% endblock %}




