{% extends "layout.html" %}

{% block contents %}

<div class="winner_panel panel-danger">
	<div class=panel-heading>
		<h1 id="your_winner" class="text-center"> {{last_game.user_email}} 님의 {{last_game.game_group}} 그룹 우승자! </h1>
	</div>
	<!--profile contents-->
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-4 "></div>
			<div class="col-xs-4 ">
				<img id="winner_img" src="/static{{photo}}" class="img-responsive img-rounded" alt="Resposive Image">
				<br>
				<div ="container-fluid">
					<!--put primary candidate_id, name, shool-->
					<h2 id="winner_name" class="text-center">★ {{last_game.winner_A_namename}} ★ </h2>
					<p id="winner_school">{{last_game.winner_A_school}}</p>
				</div>
			<br>
			</div>
		<div class="col-xs-4"></div>
		</div>
	</div>
	<div id="end_page_end"></div>
</div>





{% endblock %}
