{% extends "layout.html" %}

{% block contents %}
<div class="container-fluid">
	<h1> 오늘의 매치업</h1>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-1"> player 1 
			<img src="/static/images/img1.jpg" class="img-responsive img-rounded" alt="Resposive Image">
		</div>
		<div class="col-xs-2">
			<h1> V.S. </h1>
		</div>
		<div class="col-xs-4"> player 2
			<img src="/static/images/img2.jpg" class="img-responsive img-rounded" alt="Resposive Image">
		</div>
		<div class="col-xs-1">
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-3 col-xs-offset-2"> player 1 
			
		</div>
		<div class="col-xs-3">
			<h1> 선택하세요 </h1>
		</div>
		<div class="col-xs-3"> player 2
			
		</div>
		<div class="col-xs-1">
		</div>
	</div>

</div>



	<div class="row">
  	<div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
	</div>
<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">.col-md-6</div>
</div>
<br><br><br><br><br><br><br><br><br>
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>

<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-xs-6">.col-xs-6</div>
  <div class="col-xs-6">.col-xs-6</div>
</div>
<p> hello i'm contents </p>

</div>
{% endblock %}