<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('testest') }}"><strong>멋쟁이 사자차럼 인기투표</strong></a>
        </div>
        <ul class="nav navbar-nav">
            <li {% if active_tab == 'group' %} class="active"{% endif %}><a href="{{ url_for('testest') }}">그룹!</a></li>
            <li{% if active_tab == 'tournament' %} class ="active"{% endif %}><a href="{{url_for('tournament')}}">대진표 및 결과</a></li>
            <li{% if active_tab == 'candidate_list' %} class ="active"{% endif %}><a href="{{url_for('candidate_list_A')}}">조별 그룹</a></li>
            <li{% if active_tab == 'log_in' %} class ="active"{% endif %}><a href="{{url_for('user_join')}}">회원가입 </a></li>
            <li{% if active_tab == 'log_in' %} class ="active"{% endif %}><a href="{{url_for('login')}}">로그인 </a></li>
            <li{% if active_tab == 'log_out' %} class ="active"{% endif %}><a href="{{url_for('log_out')}}">로그아웃 </a></li>
        </ul>
    </div>
</nav>