<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('tutorial_page') }}">멋쟁이 사자차럼 인기투표</a>
        </div>
        <ul class="nav navbar-nav">
            <li {% if active_tab == 'group' %} class="active"{% endif %}><a href="{{ url_for('testest') }}">그룹!</a></li>
            <li{% if active_tab == 'tournament' %} class ="active"{% endif %}><a href="{{url_for('tournament')}}">대진표 및 결과</a></li>
            <li{% if active_tab == 'candidate_list' %} class ="active"{% endif %}><a href="{{url_for('candidate_list', group = 1)}}">조별 그룹</a></li>
            <li{% if active_tab == 'all_comments' %} class ="active"{% endif %}><a href="{{url_for('all_comments')}}">댓글 모아보기</a></li>
            {% if g.user_email != None %}
            <li><a href = "{{ url_for('log_out')}}"> 로그아웃 </a></li>
            <li {% if active_tab == 'log_in' %} class="active" {% endif %}>

            {% else %}
            <li><a href="{{ url_for('login')}}"> 로그인</a> </li>
            <li {% if active_tab == 'user_join' %} class ="active"{% endif %}><a href="{{url_for('user_join')}}">회원가입 </a></li>
            {% endif %}
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            {% if g.user_email != None %}
            <li><p class="hello_user" style="float:right">{{ g.user_email }} 님 안녕하세요. </p></li>
            {% endif %}
           
        </ul>
        
    </div>
</nav>