{% extends "layout.html" %}

{% block contents %}
<div class="panel panel-danger">
  <div class=panel-heading>
    <button> Group A</button>
    <button> Group B</button>
    <button> Group C</button>
    <button> Group D</button>
    <button> Group E</button>
    <button> Group F</button>
    <button> Group G</button>
    <button> Group H</button>
  </div>
<div class="tournament">

  <!-- tournament logo -->
  <div class="tournament__logo-container tournament__logo-container--right">
    <strong class="tournament__logo tournament__logo--gold"> Group A</strong>
  </div>
  <div class="tournament__grid">
    <!-- tournament__round 1/8 -->
    <div class="tournament__round tournament__round--first-round">
      <div class="tournament__match">
          <a class="tournament__match__team" href="#"><img src="/static/images/1.jpg" class="img-responsive img-rounded" alt="Resposive Image" style="float:left; margin-right:10px;"> 강민지</a>
          <a class="tournament__match__team" href="#"><img src="/static/images/img1.jpg" class="img-responsive img-rounded" alt="Resposive Image" style="float:left; margin-right:10px;"> 이석민</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum1.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum2.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum1.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum2.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum1.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum2.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum1.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum2.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum3.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum4.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum5.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum6.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum7.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum8.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum9.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum10.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum11.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum12.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum13.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum14.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum15.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum16.</a>
      </div>
    </div>

    <div class="tournament__round tournament__round--first-round">
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum17.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
    </div>

    <!-- tournament__round 1/2 -->
    <div class="tournament__round">
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum21.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum24.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
    </div>

    <!-- tournament__round final -->
    <div class="tournament__round">
      <div class="tournament__match_final">
        <a class="tournament__match__team" href="#">Lorem ipsum1.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum2.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum3.</a>
      </div>
    </div>

    <!-- tournament__round winner 
    <div class="tournament__round tournament__round--winner">
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
    </div>
  </div>
-->
</div>
</div>
{% endblock %}
