{% extends "base.html" %}

{% block layout %}
    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}

<header id="page-top">
	<div class = "container">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive" src="static/images/test.png" />
                <div class="intro-text">
                    <span class="name">★ 멋쟁이사자처럼 인기투표 ★</span>
                    <hr>
                    <span class="welcome">Welcome to Our Homepage!</span>
                </div>
            </div>
        </div>
    </div>
</header>


<section id = "matchup_intro">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>인기투표를 해보자</h2>
                <hr>
            </div>
            <div class="row">
            	<div class="col-lg-6 col-lg-offset-3 text-center">
                	<img class="img-responsive" src="static/images/test.png" />
            	</div>
            </div>
            <div class="row">
            	<div class="col-lg-12 text-center">
                	<p>블라블라블라블라</p>
            	</div>
            </div>
        </div>
    </div>
</section>

<section id = "tournament_intro">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>대진표를 볼수 있다</h2>
                <hr>
            </div>
            <div class="row">
            	<div class="col-lg-4 text-center">
                	<img class="img-responsive" src="static/images/test.png" />
            	</div>
            	<div class="col-lg-offset-1 col-lg-4 text-center">
            		<p>블라블라블라블라</p>
            	</div>
            </div>
        </div>
    </div>
</section>

<section id = "comment_intro">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>아기사자를 응원해보자</h2>
                <hr>
            </div>
            <div class="row">
            	<div class="col-lg-5 col-lg-offset-1">
                	<img class="img-responsive" src="static/images/test.png" />
            	</div>
            	<div class="col-lg-5">
                	<img class="img-responsive" src="static/images/test.png" />
            	</div>
            </div>
            <div class="row">
            	<div class="col-lg-5 col-lg-offset-1">
                	<p>블라블라블라블라블라블라블라라블라블라블라라블라블라블라블라블라</p>
            	</div>
            	<div class="col-lg-5">
                	<p>블라블라블라블라블라블라블라블라블라라블라블라블라라블라블라블라</p>
            	</div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

