{% extends "base.html" %}

{% block layout %}
    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}

<header id="page-top">
	<div class = "container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<img src="static/images/main_image.png" />
            </div>
        </div>
    </div>
</header>


<section id = "matchup_intro">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>인기투표를 해보자</h2>
            </div>
            <div class="row">
            	<div class="col-lg-6 col-lg-offset-3 text-center">
                	<img id="tutorial_img1" class="img-responsive" src="static/images/tutorial_1.png" />
            	</div>
            </div>
            <div class="row">
            	<div class="col-lg-12 text-center">
                	<p id="tutorial_contents">두 아기사자 중 마음에 드는 쪽을 골라보세요</p>
                    <p id="tutorial_contents">가장 내 스타일의 아기사자는 누구?</p>
            	</div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3  text-center">
                    <div class="line"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-4 ">
                    <p id="tutorial_contents_sub">각 그룹에 랜덤으로 32명 배정, 방향키로 투표 가능 </p>
                    <p id="tutorial_contents_sub">놀랍지 아니한가, 그러나 기회는 단 한.번.뿐.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id = "tournament_intro">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>대진표를 볼수 있다</h2>
            </div>
            <div class="row">
            	<div class="col-lg-5 col-lg-offset-1 text-center">
                	<img id="tutorial_img2" class="img-responsive" src="static/images/tutorial_2.png" />
            	</div>
            	<div class="col-lg-4">
                    <br><br>
            		<p id="tutorial_contents">멋사 최고 인기쟁이는 누구?</p>
                    <p id="tutorial_contents">실시간 결과 대공개!</p>
                    <div class="line"></div>
                    <p id="tutorial_contents_sub">그룹별로 대진표는 고정!</p>
                    <p id="tutorial_contents_sub">같은 대진표로 대화를 나누어 보아요</p>
            	</div>
            </div>
        </div>
    </div>
</section>

<section id = "comment_intro">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>아기사자를 응원해보자</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-2 text-center">
                    <p id="tutorial_contents">매치 댓글</p>
                </div>
                <div class="col-lg-3 col-lg-offset-2 text-center">
                    <p id="tutorial_contents">프로필 댓글</p> 
                </div>
            </div>
            <div class="row">
            	<div class="col-lg-5 col-lg-offset-1 text-center">
                	<img id="tutorial_img3" class="img-responsive" src="static/images/tutorial_3_1.png" />
            	</div>
            	<div class="col-lg-5 text-center">
                	<img id="tutorial_img3"class="img-responsive" src="static/images/tutorial_3_2.png" />
            	</div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-2 text-center">
                    <div class="line"></div>
                </div>
                <div class="col-lg-3 col-lg-offset-2 text-center">
                    <div class="line"></div>
                </div>
            </div>
            <div class="row">
            	<div class="col-lg-5 col-lg-offset-1 text-center">
                	<p id="tutorial_contents_sub">각 매치마다 댓글을 달 수 있어요</p>
                    <p id="tutorial_contents_sub">댓글 모아보기에서 그룹별 확인가능!</p>
            	</div>
            	<div class="col-lg-5 text-center">
                	<p id="tutorial_contents_sub">조별그룹에서 개인별 프로필에도</p> 
                    <p id="tutorial_contents_sub">응원 댓글을 달 수 있어요</p>
            	</div>
            </div>
            <br><br><br>

            <div class="row">
            	<div class="col-lg-12 text-center">
                	<!-- <h3>그럼 이제 시작해볼까요? :) </h3> -->
                    <a href="#page-top" id="page-top-link">Page Top ↑</a>
            	</div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

